@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
.header{
    height: 20%;
    width: 100%;
    background-color: #00141f;
}
#logo{
    height: 70px;
}
#fizetes{
    background-color: black;
    float: right;
    margin-right: 60px;
    border-radius: 25px;
    margin-top: 18px;
    font-size: 20px;
    width: 129.5px;
}
#penz{
    display: inline-block;
    
}
#wallet{
    display: inline-block;
    background-color: #003652;
    border-radius: 25px;
    width: 60px;
    font-size: 25px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
body{
    background-color: #001B29;
    font-family: 'Geologica', 'sans-serif';
}
#kapcsolat{
    background-color: #003D5C;
    margin-top: 130px;
    height: 40px;
    border-radius: 25px;
}
#kezd{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
#roulette{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
#mines{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
#blackjack{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
#ladak{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
.menu{
    background-color: #00293D;
    color: white;
    border-radius: 25px;
    height: 600px;
    width: 20%;
    float: left;
    margin-top: 0;
}
#kezdolaps{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
    margin-top: 0;
    
}
#roulet{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#min{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#black{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#lada{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#kapcs{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#foot{
    background-color: #003047;
    width: 100%;
    height: 300px;
    margin-top: 15px;
   
}
#flogo{
    height: 300px;
    float: left;
    display: inline;
}
#fszov{
    text-align: center;
    color: white;
    font-size: 25px;
    width: 80%;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    display: inline;
   
}
#ficon{
    color: white;
    font-size: 25px;
    text-align: center;
    display: inline-block;
}
#fl{
    color: white;
    font-size: 23px;
}


.board {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    float: left;
    
}
.cell {
    padding: 1px;
    width: 70px;
    height: 70px;
    border: 1px solid #00141f ;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;

    background-color: #01547a;


    color: #28b7c4;
}
.cell:hover {
    animation: goUp 0.2s ease-in-out forwards;
}


.revealed {

    background-color: #28b7c4;

    color: #000;
}
.mine {
    background-color: #ff3333;
}

#gameContainer {
    display: inline-block;
    align-items: center;
    background-color: #003047;
    border-radius: 5%;
    margin-left: 20px;
    height: 100%;
    width: 90%;

}

#startGameButton {

    background-color: #14739B;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: 100px;

    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    
    cursor: pointer;
    border-radius: 4px;
    float : right;

}

#kiszallas-button {
    background-color: #2e2e2e;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    
    cursor: not-allowed;
    border-radius: 4px;
}

.kiszallas {
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.custom-select {
    max-width: 350px;
    position: relative;
    float: right;
    margin-right: -165px;
    margin-top: 100px;
    color: white;
}

.custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #14739B;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.1rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.bet-select {
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    max-width: 350px;
    position: relative;
    float: right;
    margin-right: -250px;
    margin-top: 170px;
    color: white;
}

.info-table {
    border-radius: 5px;
    height: 300px;
    width: 200px;
    float: right;
    background-color: #00141f ;
    margin-right: -235px;
    margin-top: 220px;
    color: white;
    padding: 10px;
}


@keyframes goUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2px);
    }
    
}
@media only screen and (max-width:1300px){
    .eltunik{
        display: none;
    }
    #kezdolaps
    {
        text-align: center;
        margin-left: 0;
        font-size: 33px;
    }
    #roulet{
        text-align: center;
        margin-left: 0;
        font-size: 33px;
    }
    #min{
        text-align: center;
        margin-left: 0;
        font-size: 33px;
        padding-top: 0;
    }
    #black{
        text-align: center;
        margin-left: 0;
        font-size: 33px;
    }
    #lada{
        text-align: center;
        margin-left: 0;
        font-size: 33px;
    }
    #kapcs{
        text-align: center;
        margin-left: 0;
        font-size: 33px;
    }
    .menu{
        width: 7%;
    }
}
@media only screen and (max-width: 1171px){
    .kepek{
        width: 800px;
    }
    .ladakkk{
        height: 140px;
        width: 130px;
    }

}
@media only screen and (max-width: 1063px){
    #fszov{
        font-size: 23px;
    }
    #ficon{
        font-size: 23px;
    }
     
}
@media only screen and (max-width: 1058px){
    .kepek{
        width: 750px;
    }
    .ladakkk{
        height: 120px;
        width: 110px;
    }
    #fname{
        width: 500px;
    }
    .qrkod{
        height: 230px;
        width: 230px;
    }
}
@media only screen and (max-width: 1014px){
    #fszov{
        font-size: 21px;
    }
    #ficon{
        font-size: 21px;
    }
    .menu{
        width: 5%;
    }
     
}
@media only screen and (max-width: 996px){
    .kepek{
        width: 700px;
    }
    .ladakkk{
        height: 110px;
        width: 100px;
    }
}
@media only screen and (max-width: 980px){
    #gameContainer{
        width: 80%;
    }
    #ala{
        text-align: center;
        display: inline-block;
        margin-left: 20%;
    }
    #jat{
        margin-left: 10%;
    }
    .cell{
        width: 60px;
        height: 60px;
    }
    #startGameButton{
        display: block;
    }
}
@media only screen and (max-width: 966px){
    #fszov{
        font-size: 19px;
    }
    #ficon{
        font-size: 19px;
    }
    #fl{
        font-size: 23px;
    }
}
@media only screen and (max-width: 933px){
    .kepek{
        width: 650px;
    }
    .ladakkk{
        height: 100px;
        width: 90px;
    }
    #fname{
        width: 450px;
    }
}
@media only screen and (max-width: 874px){
    .eltunik{
        display: none;
    }
    #kezdolaps
    {
        text-align: center;
        margin-left: 0;
        font-size: 25px;
    }
    #roulet{
        text-align: center;
        margin-left: 0;
        font-size: 25px;
    }
    #min{
        text-align: center;
        margin-left: 0;
        font-size: 25px;
        padding-top: 0;
    }
    #black{
        text-align: center;
        margin-left: 0;
        font-size: 25px;
    }
    #lada{
        text-align: center;
        margin-left: 0;
        font-size: 25px;
    }
    #kapcs{
        text-align: center;
        margin-left: 0;
        font-size: 25px;
    }
}
@media only screen and (max-width: 871px){
    .kepek{
        width: 600px;
    }
    .ladakkk{
        height: 90px;
        width: 80px;
    }
    #fname{
        width: 450px;
    }
    #masologomb{
        padding: 14px 30px;
        font-size: 16px;
        margin: 4px 2px;
    }
}
@media only screen and (max-width: 808px){
    .ladakkk{
        height: 150px;
        width: 130px;
    }
    #masologomb{
        padding: 14px 30px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 550px;
        height: 900px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 360px;
        font-size: 14px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
}
@media only screen and (max-width:762px){
    .cell{
        width:55px;
        height:55px;
    }

#kezdolaps
    {
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
    #roulet{
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
    #min{
        text-align: center;
        margin-left: 0;
        font-size: 20px;
        padding-top: 0;
    }
    #black{
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
    #lada{
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
    #kapcs{
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
}
@media only screen and (max-width: 746px){
    .ladakkk{
        height: 150px;
        width: 130px;
    }
    #masologomb{
        padding: 14px 30px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 500px;
        height: 900px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 320px;
        font-size: 12.5px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
}
@media only screen and (max-width:690px){
    .cell{
        width:50px;
        height:50px;
    }
}
@media only screen and (max-width: 683px){
    .ladakkk{
        height: 150px;
        width: 130px;
    }
    #masologomb{
        padding: 14px 30px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 450px;
        height: 900px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 360px;
        font-size: 14px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
}
@media only screen and (max-width: 665px){
    #flogo{
        width: 280px;
    }
}
@media only screen and (max-width:658px){
    .cell{
        width: 45px;
        height:45px;
    }
}
@media only screen and (max-width: 621px){
    .ladakkk{
        height: 140px;
        width: 120px;
    }
    #masologomb{
        padding: 14px 30px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 400px;
        height: 900px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 360px;
        font-size: 14px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
}
@media only screen and (max-width:596px)
{
    .cell{
        width:40px;
        height:40px;
    }
}
@media only screen and (max-width: 565px){
    #flogo{
        width: 280px;
    }
    #fszov{
        font-size: 18px;
    }
    #fl{
        font-size: 20px;
    }
}
@media only screen and (max-width: 557px){
    .ladakkk{
        height: 120px;
        width: 100px;
    }
    #masologomb{
        padding: 14px 30px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 350px;
        height: 900px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 320px;
        font-size: 12px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
}
@media only screen and (max-width: 555px){
    #flogo{
        width: 270px;
    }
    #fszov{
        font-size: 16px;
    }
    #fl{
        font-size: 20px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 16px;
    }
    #fizetes{
        background-color: black;
        float: right;
        margin-right: 40px;
        border-radius: 25px;
        margin-top: 18px;
        font-size: 20px;
        width: 129.5px;
    }
}
@media only screen and (max-width:540px){
    .cell{
        width:35px;
        height:35px;
    }
}
@media only screen and (max-width: 519px){
    #flogo{
        width: 250px;
        height: 250px;
    }
    #fszov{
        font-size: 16px;
    }
    #fl{
        font-size: 20px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 16px;
    }
    #kezdolaps
    {
        text-align: center;
        margin-left: 0;
        font-size: 15px;
    }
    #roulet{
        text-align: center;
        margin-left: 0;
        font-size: 15px;
    }
    #min{
        text-align: center;
        margin-left: 0;
        font-size: 15px;
        padding-top: 0;
    }
    #black{
        text-align: center;
        margin-left: 0;
        font-size: 15px;
    }
    #lada{
        text-align: center;
        margin-left: 0;
        font-size: 15px;
    }
    #kapcs{
        text-align: center;
        margin-left: 0;
        font-size: 15px;
    }
}
@media only screen and (max-width: 519px){
    #flogo{
        width: 230px;
        height: 230px;
    }
    #fszov{
        font-size: 16px;
    }
    #fl{
        font-size: 20px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 16px;
    }
}
@media only screen and (max-width: 496px){
    .ladakkk{
        height: 80px;
        width: 70px;
    }
    #masologomb{
        padding: 14px 30px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 300px;
        height: 850px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 260px;
        font-size: 10px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
}
@media only screen and (max-width:485px){
    #ala{
        margin-left: 5%;
    }
    .cell{
        width:30px;
        height:30px;
    }
}
@media only screen and (max-width: 481px){
    #flogo{
        width: 210px;
        height: 210px;
    }
    #fszov{
        font-size: 14px;
    }
    #fl{
        font-size: 16px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 16px;
    }
    #foot{
        background-color: #003047;
        width: 100%;
        height: 250px;
        margin-top: 60px;
       
    }
}
@media only screen and (max-width: 443px){
    #flogo{
        width: 210px;
        height: 210px;
    }
    #fszov{
        font-size: 12px;
    }
    #fl{
        font-size: 15px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 15px;
    }
    #foot{
        background-color: #003047;
        width: 100%;
        height: 250px;
        margin-top: 60px;
       
    }
}
@media only screen and (max-width: 443px){
    .ladakkk{
        height: 70px;
        width: 60px;
    }
    #masologomb{
        padding: 14px 30px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 280px;
        height: 850px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 250px;
        font-size: 9.5px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
}
@media only screen and (max-width: 425px){
    #flogo{
        width: 190px;
        height: 190px;
    }
    #fszov{
        font-size: 13px;
    }
    #fl{
        font-size: 14px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 14px;
    }
    #foot{
        background-color: #003047;
        width: 100%;
        height: 220px;
        margin-top: 60px;
       
    }
    #ala{
        margin-left: none;
    }
    .cell{
        width:25px;
        height:25px;
    }
}
@media only screen and (max-width: 410px){
    #flogo{
        width: 170px;
        height: 170px;
    }
    #fszov{
        font-size: 12px;
    }
    #fl{
        font-size: 13px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 13px;
    }
    #foot{
        background-color: #003047;
        width: 100%;
        height: 200px;
        margin-top: 60px;
       
    }
    .ladakkk{
        height: 60px;
        width: 50px;
    }
    #masologomb{
        padding: 12px 28px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 260px;
        height: 850px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 230px;
        font-size: 9.5px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }

}
@media only screen and (max-width:400px){
    #mineCount{
        width: 100px;
    }
    #akna{
        font-size: 12px;
    }
}
@media only screen and (max-width: 383px){
    #flogo{
        width: 170px;
        height: 170px;
    }
    #fszov{
        font-size: 11px;
    }
    #fl{
        font-size: 12px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 12px;
    }
    #foot{
        background-color: #003047;
        width: 100%;
        height: 180px;
        margin-top: 60px;
       
    }
    .ladakkk{
        height: 50px;
        width: 40px;
    }
    #masologomb{
        padding: 12px 28px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 230px;
        height: 850px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 200px;
        font-size: 9.5px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
    .qrkod{
        height: 200px;
        width: 200px;
    }
}
@media only screen and (max-width: 374px){
    #flogo{
        width: 150px;
        height: 150px;
    }
    #fszov{
        font-size: 11px;
    }
    #fl{
        font-size: 11px;
        margin-top: 20px;
    }
    #ficon{
        font-size: 10px;
    }
    #foot{
        background-color: #003047;
        width: 100%;
        height: 170px;
        margin-top: 60px;
       
    }
    .ladakkk{
        height: 50px;
        width: 40px;
    }
    #masologomb{
        padding: 12px 28px;
        font-size: 16px;
        margin: 4px 2px;
    }
    .kepek{
        width: 230px;
        height: 850px;
        
    }
    #litecoin{
        margin-left: 20px;
    }
    #fname{
        width: 200px;
        font-size: 9.5px;
    }
    #masologomb{
        margin-left: 20px;
    }
    #fizetes{
        margin-right: 40px;
    }
    .qrkod{
        height: 200px;
        width: 200px;
    }
    .cell{
        width: 20px;
        height: 20px;
    }
}
