@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
.header{
    height: 20%;
    width: 100%;
    background-color: #00141f;
}
#logo{
    height: 70px;
}
#fizetes{
    background-color: black;
    float: right;
    margin-right: 60px;
    border-radius: 25px;
    margin-top: 18px;
    font-size: 20px;
    width: 129.5px;
}
#penz{
    display: inline-block;
    
}
#wallet{
    display: inline-block;
    background-color: #003652;
    border-radius: 25px;
    width: 60px;
    font-size: 25px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
body{
    background-color: #001B29;
    font-family: 'Geologica', 'sans-serif';
}
#kapcsolat{
    background-color: #003D5C;
    margin-top: 200px;
    height: 40px;
    border-radius: 25px;
}
#kezd{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
#roulette{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
#mines{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
#blackjack{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
#ladak{
    background-color: #003D5C;
    margin-bottom: 51px;
    height: 40px;
    border-radius: 25px;
}
.menu{
    background-color: #00293D;
    color: white;
    border-radius: 25px;
    height: 690px;
    width: 20%;
    float: left;
    margin-top: 0;
}
#kezdolaps{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
    margin-top: 0;
    
}
#roulet{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#min{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#black{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#lada{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#kapcs{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 25px;
}
#foot{
    background-color: #003047;
    width: 100%;
    height: 300px;
    margin-top: 15px;
   
}
#flogo{
    height: 300px;
    float: left;
    display: inline;
}
#fszov{
    text-align: center;
    color: white;
    font-size: 25px;
    width: 80%;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    display: inline;
   
}
#ficon{
    color: white;
    font-size: 25px;
    text-align: center;
    display: inline-block;
}
#fl{
    color: white;
    font-size: 23px;
}


.board {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    float: left;
    
}
.cell {
    padding: 1px;
    width: 70px;
    height: 70px;
    border: 1px solid #00141f ;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;

    background-color: #01547a;


    color: #28b7c4;
}
.cell:hover {
    animation: goUp 0.2s ease-in-out forwards;
}


.revealed {

    background-color: #28b7c4;

    color: #000;
}
.mine {
    background-color: #ff3333;
}

#gameContainer {
    display: inline-block;
    align-items: center;
    background-color: #003047;
    border-radius: 5%;
    margin-left: 20px;
    height: 700px;
    width: 890px;

}

#startGameButton {

    background-color: #14739B;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: 100px;

    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    
    cursor: pointer;
    border-radius: 4px;
    float : right;

}

#kiszallas-button {
    background-color: #2e2e2e;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    
    cursor: not-allowed;
    border-radius: 4px;
}

.kiszallas {
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.custom-select {
    max-width: 350px;
    position: relative;
    float: right;
    margin-right: -165px;
    margin-top: 100px;
    color: white;
}

.custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #14739B;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.1rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.bet-select {
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    max-width: 350px;
    position: relative;
    float: right;
    margin-right: -250px;
    margin-top: 200px;
    color: white;
}

.info-table {
    border-radius: 5px;
    height: 300px;
    width: 200px;
    float: right;
    background-color: #00141f ;
    margin-right: -235px;
    margin-top: 250px;
    color: white;
    padding: 10px;
}


@keyframes goUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2px);
    }
    
}