
.header{
    height: 20%;
    width: 100%;
    background-color: #00141f;
}
#logo{
    height: 70px;
}
body{
    background-color: #001B29;
    
}

.menu{
    background-color: #00293D;
    margin-right: 900px;
    color: white;
    border-radius: 25px;
    height: 500px;
    width: 20%;
}