@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
.header{
    height: 20%;
    width: 100%;
    background-color: #00141f;
}
#logo{
    height: 70px;
}
body{
    background-color: #001B29;
    font-family: 'Geologica', 'sans-serif';
}

.menu{
    background-color: #00293D;
    margin-right: 900px;
    color: white;
    border-radius: 25px;
    height: 600px;
    width: 20%;
}
#kezdolaps{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 20px;
}
#roulet{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 20px;
}
#min{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 20px;
}
#black{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 20px;
}
#lada{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 20px;
}
#kapcs{
    margin-left: 20px;
    padding-top: 2px;
    font-size: 20px;
}
#originals{
    height: 20%;
    width: 80%;
    background-color: #003047;
    float: right;
}
#ladakk{
    color: white;
    font-size: 40px;
}